<div class="reserved_schedule" id="{{@index}}">
    <div class="reserved_schedule_btn">
        <button class="delete_btn" type="button" id="d_driver_btn{{@index}}" onclick="show_delete_driver_form({{@index}})">DELETE</button>
    </div>
    <div class="text_reserved_schedule">
        <p>{{first_name}}</p>
        <hr>
        <p>{{last_name}}</p>
        <hr>
        <p>{{email}}</p>
        <hr>
        <p>{{id_number}}</p>
        <hr>
    </div>
</div>