<!DOCTYPE html>
<!-- Turn into HBS -->

<html>
    <head>
        <title> Arrow Express - Home  </title> 
        <link rel="icon" type="image/png" href="../images/DLSU_Logo.png">
        <link rel="stylesheet" href="../css/mobile.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        
        <style> 
            form{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                align-items: left;
            }

            .landing{
                height: 100%; 
            }

            input{
                display: inline;
                height: 4rem;
                font-size: 3rem;
                border-radius: 1rem;

                padding: .5rem 1rem;
                border: 0;
                
                transition: 150ms box-shadow;
                background:linear-gradient(to bottom, hsl(180, 3%, 0%), hsl(180, 3%, 7%)) ;

                color: white;
            }

            input:focus{
                outline: none;
                box-shadow: 0 0 1rem rgb(0, 160, 40);
            }

            .form_label {
                font-size: 2rem;
                text-align: left;
                letter-spacing: .2rem;
            }

            .form_item {
                display: flex;
                flex-direction: column;
                gap: .5rem;
            }

            .landing_box{
                margin: 15rem 5rem 10rem 5rem;
                padding-bottom: 2rem;
            }

            .primary_button {
                margin-top: 3rem;
            }

            .subtext > a, .subtext > a:visited{
                font-size: 2rem;
                text-decoration: none;
                font-weight: 100;
                color: white;
            }

            @media (min-aspect-ratio: 4/3) {
                .landing_box{
                    margin: 15rem 40rem 10rem 40rem;
                }
            }
        </style>

        <script>

            window.onload = function() {
                

                var email = "{{email}}";
                var security_code = "{{security_code}}";
                var check = "{{is_invalid}}"
                var checkMatch = "{{is_match}}";

                $("#error_box").css("display", "none");

                // For checking if the email and security code fields are filled up
                if ( email != "" && security_code != "" ){
                    $("#first_box").css("display", "none");
                    $("#second_box").css("display", "block");
                }
                else{
                    $("#second_box").css("display", "none");
                }

                // For checking if the email and security code are valid
                if ( check == "true" ){ //Invalid 

                    $("#error_box").css("display", "block");

                    setTimeout(function(){
                        $("#error_box").css("display", "none");
                    }, 3000);

                }

                // For checking if the new password and retype new password are the same
                if ( checkMatch == "false" ){

                    $("#first_box").css("display", "none");
                    $("#second_box").css("display", "block");

                    $("#error_box").css("display", "block");
                    $("#error_message").text("Passwords do not match. Try again.");

                    setTimeout(function(){
                        $("#error_box").css("display", "none");
                    }, 3000);

                }

            }
                
            $("#securityForm").submit(function(e) {
                var email = $("#user_email").val();
                var security_code = $("#user_security_code").val();

                if ( email != "" && security_code != "" ){
                    $("#first_box").css("display", "none");
                    $("#second_box").css("display", "block");
                    e.preventDefault();
                }
            });
            
        </script>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar_top">
                <img src="../images/DLSU_Logo.png">
                <h2>De La Salle University</h2>
                <button id="navbar_button"><div class="arrow"></div></button>
                <div class="navbar_desktop">
                    <a href="/">HOME</a>
                    <a href="/Search">SEARCH</a>
                    <a href="/Login">LOGIN</a>
                </div>
            </div>
            <div class="navbar_content">
                <a href="/">HOME</a>
                <a href="/Search">SEARCH</a>
                <a href="/Login">LOGIN</a>
            </div>
        </div>
        

        <div class="landing_background"></div>
        <div class="landing">
            <div class="landing_box">
                <div style="display: flex; flex-direction: column; gap: 0rem;">
                    <h1>Forgot Password</h1>
                    <h6 style="letter-spacing: 0.2rem;">Don't worry. We got you!</h6>
                </div>

                <form action="/ForgotPassword" id="securityForm" method="post">
                        
                    <div class="form_item">
                        <h6 class="form_label">Email</h6>
                        <label for="user_email"></label>
                        <input type="text" class="fillup" name="user_email" id="user_email" required >
                    </div>

                    <div class="form_item">  
                        <h6 class="form_label">4-Digit Security Code</h6>
                        <label for="user_security_code"></label>
                        <input type="password" class="fillup" name="user_security_code" id="user_security_code" required pattern="[0-9]+" minlength="4" maxlength="4">
                    </div>

                        <button type="submit" class="primary_button" > Submit </button>
                 </form>
                
                <div class="subtext">
                    <a href="/Login"> Cancel </a>
                </div>
            </div>

            <div class="form_box" id="secondBox">
                <h2 style="font-size: 23px;"> Change Password </h2>
                <h4 style="font-size: 15px;"> Do not worry. We got you! </h4>
                <hr>
                <div class="input">
                    <form action="/ChangeFPassword" id="loginForm" method="post">
                        <input type="hidden" name="user_id_number" value="{{user_id_number}}">
                        <label for="user_newPassword0"></label>
                        <input type="password" placeholder="New Password" class="fillup" name="user_newPassword0" id="user_user_id_number" required >
                        <label for="user_newPassword1"></label>
                        <input type="password" placeholder="Retype New Password" class="fillup" name="user_newPassword1" id="user_password" required>
                        <button type="submit" class="toggle_btn" > Submit <style> .toggle_btn{ font-size: large; font-weight: bold;} </style> </button>
                    </form>
                </div>

                <div class="subtext">
                    <a href="/Login"> Cancel </a>
                </div>
            </div>
        </div>

        
        

        <script>
            $(".navbar_top").on("click", function(){
                $(".arrow").toggleClass("arrow_pressed");
                $(".navbar_content").toggleClass("navbar_open");
            })

        </script>
    </body>
</html>
